<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>Movie List</h1>
        <nav style="display: flex; justify-content: space-between; margin: 2em 0;">
            <a href="/users" class="btn-action">Back to User List</a>
            <a href="{{ url_for('add_movie', user_id=user_id) }}" class="btn-action">Add New Movie</a>
        </nav>
        {% if movies %}
        <table style="margin: 0 auto; text-align: center; width: 80%;">
            <tr>
                <th style="text-align: center; width: 25%;">Title</th>
                <th style="text-align: center; width: 25%;">Director</th>
                <th style="text-align: center; width: 25%;">Year</th>
                <th style="text-align: center; width: 25%;">Rating</th>
            </tr>
            {% for movie in movies %}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{{ movie.name }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ movie.director }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ movie.year }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ movie.rating }}</td>
            </tr>
            <tr>
                <td colspan="4" style="padding-bottom: 1.5em;">
                    <div style="display: flex; justify-content: center; gap: 1em;">
                        <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie.id) }}" class="btn-action movie-action">Edit</a>
                        <a href="{{ url_for('delete_movie', user_id=user_id, movie_id=movie.id) }}" class="btn-action movie-action" onclick="return confirm('Are you sure?')">Delete</a>
                        <a href="{{ url_for('movie_reviews', movie_id=movie.id) }}" class="btn-action movie-action">Show Reviews</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No movies available.</p>
        {% endif %}
    </div>
</body>
</html>
